/*SECTION 2*/
.section2 {
    color: #000;
    margin-top: 6rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .section2 h3 {
    background-color: rgb(83, 105, 22);
    color: #fff;
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  
  .containerS2 {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .imageS2 {
    width: 100vw;
    height: auto;
  }
  
  .description {
    display: flex;
    flex-flow: row wrap;
    text-align: justify;
  }
  
  .description p {
    color: #000;
    font-size: large;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .description a {
    width: 100%;
    text-align: center;
  }