
.nav {
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
  padding: 18px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.logo {
  font-size: 24px;
}

.burgerButton {
  display: none;
}

.burger {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 5px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 10px;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.menuItem {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  transition-duration: .25s;
}

.menuItem a {
  text-decoration: none;
  color: #333;
}

.menuItem i {
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .burgerButton {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: white;
    padding: 20px;
    width: 100%;
  }

  .open {
    display: flex;
    transform: translateY(0%);
  }
}
