.body {
  background-color: #fff;
}

/* SECTION 1 */
.section1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  z-index: 0;
}
.section1:before {
  content: "";
  width: 550px;
  height: 900px;
  position: absolute;
  /*background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.607) 60%
  );
  /*background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.726) 35%,
      rgba(0, 0, 0, 0) 100%
    );*/
  z-index: 1;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.container h1 {
  color: #f8517b;
  font-size: 6rem;
  text-align: center;
  z-index: 1;
}



@media only screen and (max-width: 450px) {
  /*SECTION 1*/
  .imageS1 {
    width: 100%;
    height: auto;
  }

  /*SECTION 5*/
  .poemas {
    padding: 0rem 1rem;
  }

  .cuentos {
    padding: 0rem 1rem;
  }

  .infantil {
    padding: 0rem 1rem;
  }
}
